<div class="max-w-6xl mx-auto p-4 mt-20">
  <div class="flex flex-col md:flex-row gap-6">
    <div class="md:w-[30%] w-full ">
      <div
        class="bg-white rounded shadow p-4 sticky top-24 mt-4 max-sm:grid max-sm:grid-cols-4 max-sm:shadow-none max-sm:bg-gray-50 max-sm:p-1 max-sm:items-center"
      >
        @for (tab of tabs; track tab.key) {
          <button
            (click)="setTab(tab.key)"
            class="mb-2 w-full rounded px-3 py-2 text-left transition hover:bg-gray-100 cursor-pointer max-sm:text-[10px] max-sm:px-0 max-sm:text-center"
            [class.bg-blue-100]="activeTab === tab.key"
            [class.font-semibold]="activeTab === tab.key"
          >
            {{ tab.label }}
          </button>
        }
      </div>
    </div>

    <!-- CONTENT -->
    <div class="md:w-[70%] w-full">
      @if (activeTab === 'overview') {
        <app-overview />
      }

      @if (activeTab === 'skills') {
        <app-skills />
      }

      @if (activeTab === 'education') {
        <app-education />
      }

      @if (activeTab === 'experience') {
        <app-experience />
      }
    </div>
  </div>
</div>
