<div class="bg-white p-6 rounded-xl">
  <!-- HEADER -->
  <div class="flex justify-between items-center">
    <h2 class="text-xl font-semibold">Education</h2>

    <button
      (click)="openModal()"
      class="bg-black text-white px-4 py-2 rounded hover:bg-gray-800 cursor-pointer max-sm:text-[11px] font-bold"
    >
      Add Education
    </button>
  </div>

  @if (isModalOpen) {
    <div class="fixed inset-0 z-50 flex items-center justify-center bg-black/50 px-4">
      <div class="w-full max-w-lg rounded-xl bg-white p-6">
        <h2 class="mb-4 text-lg font-semibold">
          {{ editingEducationId ? 'Edit Education' : 'Add Education' }}
        </h2>

        <form #educationForm="ngForm" (ngSubmit)="saveEducation()" class="space-y-3">
          <!-- Institution -->
          <div>
            <input
              name="institution"
              [(ngModel)]="institution"
              #institutionModel="ngModel"
              required
              placeholder="Institution"
              class="w-full rounded border px-3 py-2"
            />

            @if (institutionModel.invalid && institutionModel.touched) {
              <p class="mt-1 text-sm text-red-600">Institution is required.</p>
            }
          </div>

          <!-- Degree -->
          <div>
            <input
              name="degree"
              [(ngModel)]="degree"
              #degreeModel="ngModel"
              required
              placeholder="Degree"
              class="w-full rounded border px-3 py-2"
            />

            @if (degreeModel.invalid && degreeModel.touched) {
              <p class="mt-1 text-sm text-red-600">Degree is required.</p>
            }
          </div>

          <!-- Field Of Study -->
          <div>
            <input
              name="fieldOfStudy"
              [(ngModel)]="fieldOfStudy"
              #fieldOfStudyModel="ngModel"
              required
              placeholder="Field Of Study"
              class="w-full rounded border px-3 py-2"
            />

            @if (fieldOfStudyModel.invalid && fieldOfStudyModel.touched) {
              <p class="mt-1 text-sm text-red-600">Field of study is required.</p>
            }
          </div>

          <!-- Dates -->
          <div class="grid grid-cols-2 gap-3">
            <div>
              <input
                name="startYear"
                [(ngModel)]="startYear"
                #startYearModel="ngModel"
                required
                type="date"
                class="w-full rounded border px-3 py-2"
              />

              @if (startYearModel.invalid && startYearModel.touched) {
                <p class="mt-1 text-sm text-red-600">Start date is required.</p>
              }
            </div>

            <div>
              <input
                name="endYear"
                [(ngModel)]="endYear"
                #endYearModel="ngModel"
                required
                type="date"
                class="w-full rounded border px-3 py-2"
              />

              @if (endYearModel.invalid && endYearModel.touched) {
                <p class="mt-1 text-sm text-red-600">End date is required.</p>
              }
            </div>
          </div>

          <!-- Actions -->
          <div class="mt-4 flex gap-3">
            <button
              type="button"
              (click)="closeModal()"
              class="flex-1 rounded border border-gray-300 py-2 hover:bg-gray-100 cursor-pointer"
            >
              Cancel
            </button>

            <button
              type="submit"
              [disabled]="educationForm.invalid"
              class="flex-1 rounded bg-black py-2 text-white hover:bg-gray-800 disabled:cursor-not-allowed disabled:opacity-50 cursor-pointer"
            >
              {{ editingEducationId ? 'Update' : 'Save' }}
            </button>
          </div>
        </form>
      </div>
    </div>
  } @else {
    <!-- LIST -->
    @for (item of educationList(); track item.id) {
      <div class="p-4 rounded mt-4 shadow shadow-gray-300">
        <div class="flex justify-between items-start">
          <div>
            <p class="font-semibold">{{ item.degree }}</p>
            <p class="text-gray-600">{{ item.institution }}</p>
            <p class="text-gray-500 text-sm">{{ item.fieldOfStudy }}</p>
          </div>

          <div class="flex gap-5 my-auto mr-4">
            <button
              (click)="openModal(item)"
              class="text-yellow-600 hover:text-blue-800 cursor-pointer"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-5"
              >
                <path
                  d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32L19.513 8.2Z"
                />
              </svg>
            </button>

            <button
              (click)="removeEducation(item.id)"
              class="text-red-700 hover:text-red-800 cursor-pointer"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-6"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    }
  }
</div>
