@if (job(); as currentJob) {
  <div class="bg-gray-50 min-h-screen py-10 px-4">
    <div class="max-w-4xl mx-auto bg-white rounded shadow  p-6">
      <a routerLink="/" class="inline-flex items-center mb-6 text-gray-600 hover:text-black">
        ← Back
      </a>

      @if (isUserAuthenticated) {
        <app-saved-job-button [jobId]="currentJob.id" />
      }

      <div class="flex gap-4 items-start max-sm:flex-col">
        <div class="flex gap-4 justify-between">
          <img
            [src]="getImageUrl(currentJob.company_logo_url)"
            [alt]="currentJob.company_name"
            (error)="handleImageError($event)"
            class="w-20 h-20 object-contain rounded shadow"
          />

          <div class="ml-4">
            <h1 class="text-2xl font-bold max-sm:text-xl">
              {{ currentJob.title }}
            </h1>

            <p class="text-gray-500 max-sm:text-sm">
              {{ currentJob.company_name }}
            </p>

            <p class="text-sm text-gray-500 max-sm:text-sm">
             • {{ currentJob.candidate_required_location }}
            </p>

            <span class="inline-block mt-2 bg-gray-100 px-3 py-1 rounded text-sm capitalize max-sm:text-sm">
              {{ formatJobType(currentJob.job_type) }}
            </span>
          </div>
        </div>

        @if (isUserAuthenticated) {
          <div class="p-2 rounded-md transition flex flex-col items-end ml-auto">
            <app-apply-job-button [jobId]="currentJob.id" />
          </div>
        }
      </div>

      <!-- Meta -->

      <div class="border-t pt-6 mt-6 space-y-3">
        <p>
          <strong>Location:</strong>
          {{ currentJob.candidate_required_location }}
        </p>

        <p>
          <strong>Salary:</strong>
          {{ currentJob.salary || 'Not specified' }}
        </p>

        <p>
          <strong>Type:</strong>
          {{ currentJob.job_type }}
        </p>
      </div>

      <!-- Tags -->

      <div class="flex flex-wrap gap-2 mt-6">
        @for (tag of currentJob.tags; track tag) {
          <span class="bg-gray-200 px-3 py-1 rounded text-xs capitalize">
            {{ tag }}
          </span>
        }
      </div>

      <!-- Description -->

      <div class="border-t mt-6 pt-6">
        <h2 class="text-lg font-semibold mb-4">About this role</h2>

        <div class="text-justify" [innerHTML]="currentJob.description"></div>
      </div>
    </div>
  </div>
}
