@if (totalPages() > 1) {
  <div class="flex justify-center items-center gap-2 mt-8 max-sm:py-1 max-sm:gap-4">
    <button
      (click)="previousPage()"
      [disabled]="currentPage() === 1"
      class="px-3 py-2 shadow shadow-black rounded disabled:opacity-50 cursor-pointer max-sm:px-1 max-sm:text-[12px]"
    >
      <div class="flex gap-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-6 text-blue-500"
        >
          <path
            fill-rule="evenodd"
            d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-4.28 9.22a.75.75 0 0 0 0 1.06l3 3a.75.75 0 1 0 1.06-1.06l-1.72-1.72h5.69a.75.75 0 0 0 0-1.5h-5.69l1.72-1.72a.75.75 0 0 0-1.06-1.06l-3 3Z"
            clip-rule="evenodd"
          />
        </svg>

        {{ 'pagination.previous' | translate }}
      </div>
    </button>

    @for (page of [].constructor(totalPages()); track $index) {
      <button
        (click)="goToPage($index + 1)"
        class="px-3 py-2 rounded border max-sm:text-[12px]"
        [class.bg-black]="currentPage() === $index + 1"
        [class.text-white]="currentPage() === $index + 1"
      >
        {{ $index + 1 }}
      </button>
    }

    <button
      (click)="nextPage()"
      [disabled]="currentPage() === totalPages()"
      class="px-3 py-2 rounded shadow shadow-black disabled:opacity-50 cursor-pointer max-sm:px-1 max-sm:text-[12px]"
    >
      <div class="flex gap-2">
        {{ 'pagination.next' | translate }}

        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-6 text-blue-500"
        >
          <path
            fill-rule="evenodd"
            d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm4.28 10.28a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06l1.72 1.72H8.25a.75.75 0 0 0 0 1.5h5.69l-1.72 1.72a.75.75 0 1 0 1.06 1.06l3-3Z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
    </button>
  </div>
}
