<div class="bg-white border-t-2 p-6 max-sm:p-0">
  <h2 class="mb-4 text-xl font-semibold">Resume</h2>

  <div class=" grid grid-cols-2 gap-4 w-full items-center">
    <label
      for="resume-upload"
      class="cursor-pointer rounded bg-gray-50 px-4 py-2 text-sm font-medium text-gray-800 transition hover:bg-gray-100 max-sm:text-sm max-sm:w-full  w-1/2 text-center shadow shadow-black"
    >
      Choose PDF
    </label>

    <input
      id="resume-upload"
      type="file"
      accept="application/pdf"
      (change)="onFileSelected($event)"
      class="hidden "
    />

    @if (selectedFile) {
      <span class="truncate text-sm text-gray-600">
        {{ selectedFile.name }}
      </span>
    } @else {
      <span class="text-sm text-gray-400"> No file selected </span>
    }
  </div>

  <div class="flex mt-4 w-full gap-6 max-md:justify-between">
    @if (resume) {
      <button
        (click)="viewResume()"
        class="rounded border border-gray-300 px-4 py-2 font-medium transition hover:bg-gray-100 cursor-pointer"
      >
        View 📖
      </button>

      <button
        (click)="removeResume()"
        class="rounded bg-red-500 px-4 py-2 font-medium text-white transition hover:bg-red-600 cursor-pointer"
      >
        Remove
      </button>
    } @else {
      <button
        [disabled]="!selectedFile"
        (click)="saveResume()"
        class="rounded bg-black px-4 py-2 font-medium text-white transition hover:bg-gray-800 disabled:cursor-not-allowed disabled:bg-gray-300 mt-4 ml-auto"
      >
        Save Resume
      </button>
    }
  </div>
</div>
