<div class="min-h-screen flex justify-center sm:items-center">
  <div class="rounded-xl shadow p-6 w-full md:w-2/3 lg:w-1/3">
    <form
      class="flex flex-col gap-5 bg-white px-6 py-10 rounded"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >
      <h2 class="text-2xl font-semibold text-center">
        <!-- Welcome Back -->
        {{ 'auth.login.title' | translate }}
      </h2>

      <!-- EMAIL -->
      <div>
        <input
          type="email"
          formControlName="email"
          [placeholder]="'auth.login.emailPlaceholder' | translate"
          class="w-full border rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />

        @if (email.touched && email.invalid) {
          <p class="text-red-500 mt-2">
            {{ 'auth.login.emailInvalid' | translate }}
          </p>
        }
      </div>

      <!-- PASSWORD -->
      <div>
        <input
          type="password"
          formControlName="password"
          class="w-full border rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
          [placeholder]="'auth.login.passwordPlaceholder' | translate"
        />

        @if (password.touched && password.invalid) {
          <p class="text-red-500 mt-2">
            {{ 'auth.login.passwordInvalid' | translate }}
          </p>
        }
      </div>

      @if (loginError()) {
        <div class="rounded border border-red-200 bg-red-50 px-3 py-2 text-sm text-red-700">
          {{ loginError() }}
        </div>
      }

      <!-- SUBMIT -->
      <button
        type="submit"
        class="bg-gray-900 text-white py-2.5 rounded font-medium hover:bg-gray-700 transition"
      >
        {{ 'auth.login.button' | translate }}
      </button>

      <!-- LINK -->
      <p class="text-sm text-center text-gray-600">
        {{ 'auth.login.noAccount' | translate }}

        <a routerLink="/register" class="text-blue-600 hover:underline font-medium cursor-pointer">
          {{ 'auth.login.register' | translate }}
        </a>
      </p>
    </form>
  </div>
</div>
