<div class="relative">
  <!-- Trigger -->
  <button
    type="button"
    (click)="toggle()"
    class="flex items-center gap-2 px-3 py-2 border rounded hover:bg-gray-100 transition cursor-pointer"
  >
    <span class="text-lg max-sm:text-[12px]">{{ selectedLanguage.flag }}</span>

    <span class="text-sm max-sm:text-[10px]">
      {{ selectedLanguage.name }}
    </span>

    <span>
      <svg
        xmlns="http://w3.org"
        viewBox="0 0 24 24"
        width="18"
        height="18"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <circle cx="12" cy="12" r="10" />
        <path d="M12 2a14.5 14.5 0 0 0 0 20 14.5 14.5 0 0 0 0-20M2 12h20" />
      </svg>
    </span>
  </button>

  @if (isOpen()) {
    <div class="absolute right-0 mt-2 w-44 bg-white border rounded-lg shadow-lg z-50">
      @for (language of languages; track language.code) {
        <button
          type="button"
          (click)="selectLanguage(language)"
          class="w-full flex items-center gap-3 px-4 py-2 hover:bg-gray-100 text-left cursor-pointer"
        >
          <span>{{ language.flag }}</span>

          <span>{{ language.name }}</span>

          @if (selectedLanguage.code === language.code) {
            <span class="ml-auto text-blue-600">✓</span>
          }
        </button>
      }
    </div>
  }
</div>
